.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navbar {
  font-family: "Proxima Nova", sans-serif;
  /* background-color: #003366; */
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-logo {
  margin-right: auto;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-size: medium;
  font-family: "Proxima Nova", sans-serif;
  /* font-weight: bold; */
  position: relative;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #00b300;
}

.navbar-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00b300;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar-link:hover::after {
  transform: scaleX(1);
}

body {
  margin: 0;
  padding: 0;
  background-color: #003366;
  font-family: Proxima-Nova, sans-serif;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-page-content {
  text-align: center;
}

.main-page-title {
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 20px;
}

.main-page-description {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 40px;
}

.main-page-button {
  padding: 15px 30px;
  background-color: #ff6600;
  color: #ffffff;
  /* font-weight: bold; */
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

/* .main-page-button:hover {
  background-color: #9933ff;
} */

@font-face {
  font-family: "Proxima-Nova";
  src: url("./fonts/proxima-nova.ttf") format("truetype");
}

.Proxima-Nova {
  font-family: Proxima-Nova;
}

.main-page-content,
.main-page-title {
  opacity: 0;
  transition: opacity 1s ease;
}

.main-page-content.fade-in,
.main-page-title.fade-in {
  opacity: 1;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .icons-container {
    flex-direction: column;
  }

  .slide-item {
    margin: 1rem 0;
  }
}
