.slide-item {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .mobile-text {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .fade-in .mobile-text {
    opacity: 1;
  }